.sender {
  max-width: 70%;
  justify-self: end;
}

.sender .bubble {
  background-color: #61dafb;
}

.receiver {
  max-width: 70%;
  justify-self: start;
}
.bubble {
  border-radius: 23px;
  padding: 12px 18px;
}
.receiver .bubble {
  background-color: #d5d9e1;
}

.comment {
  background-color: #ff0000;
}
.chatContainer {
  margin: var(--size-gutter);
  padding: var(--size-gutter);
  font-family: var(--font-sans);
}
.chatBox {
  margin: var(--space-xl);
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.name {
  font-size: var(--text-sm);
}
.name .sender {
  text-align: right;
}
