.container {
  border-top: 1px solid var(--border);
  font-size: var(--text-sm);
  margin: var(--space-2xl) 0 0 0;
  padding: var(--space-2xl);

  display: flex;
  justify-content: space-between;


}


.container a {
  border-bottom: 1.5px solid transparent;
  font-weight: var(--medium);
}

.container a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

footer {
width: 100%;

}
