@font-face {
  font-family: 'OSMelly';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/OSMellySansv0.88-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'OSMelly Irregular';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/OSMellySansv0.88-Irregular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: 'Apercu Bold var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Bold';
  src: url('/fonts/ApercuBold.woff2?v=3.19') format("woff2");
}

@font-face {
  font-family: 'LibreBaskerville';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/LibreBaskerville-Regular.woff2') format("woff2");
}

@font-face {
  font-family: 'Apercu Mono var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Mono';
  src: url('/fonts/ApercuMono.woff2') format("woff2");
}
html {
  scroll-behavior: smooth;

}

html * {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: var(--body);
  line-height: var(--default);
  margin: 0;


  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
div:hover > #hov{
  display : block;

}

#hov{
  display:none;
  position:absolute;
  font-style: italic;
  font-size:20px;
  font-weight: bold;
  color: red;
}
.site{
  
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: calc(var(--space-xl)*3);
}
  .site-content {
    flex: 1;
}




h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--semibold);
  line-height: var(--dense);
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
  font-family: var(--font-irregular);
  text-decoration: none;
  color: black;
}


a.active {
  font-weight: var(--bold);
}

tt,
code,
kbd {
  background: var(--black-fade-5);
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tt,
code,
kbd {
  font-family: var(--font-monospace);
  font-size: 90%;
}

tt,
code {
  background-color: var(--black-fade-5);
  border-radius: var(--radius-sm);
  font-weight: var(--medium);
  padding: 0.2em 0;
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -0.2em;
}

pre,
code {
  font-family: var(--font-monospace);
}

#cursor {
  display: var(--cursor-display);
  position: fixed;
  --size: 25px;
  top: 0;
  left: 0;
  height: var(--size);
  width: var(--size);
  background-color: #FFF;
  border-radius: 50%;
  transform: translate3d(
    calc(100vw * var(--cursor-x) - var(--size) / 2), 
    calc(100vh * var(--cursor-y) - var(--size) / 2), 
    0);
  pointer-events: none;
  mix-blend-mode: difference;
}

a:hover ~ #cursor,a:hover + #cursor {
  --size: 40px;
}

.pageTitle{
  margin-left: var(--size-gutter);
}
