.hero {
  display: flex;
  margin: 0 auto;
  max-width: var(--size-max-width);
  min-height: 200px;
  position: relative;
  flex-wrap: wrap;
  left: 0;
  justify-content: flex-start 

}

.image {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 560px;
  width: 100%;
  
}

.details {
  left: var(--size-gutter);
  max-width: 70rem;
  width: 85%;
  justify-content: flex-start;
  padding: var(--space-2xl);
}

.title {
  letter-spacing: -0.012em;
  font-size: var(--text-title);
  font-weight: var(--extrabold);
  line-height: var(--solid);
  margin: 0 0 var(--space-xl);

}
.subtitle{
  font-size: var(--text-subtitle);
  padding-left:  0;
}

.content {
  font-size: var(--text-lead);
  font-weight: var(--semibold);
  margin: 0;
}

@media (min-width: 480px) {
  .details {
    padding: var(--space-3xl) var(--size-gutter) 0;
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: 0 0 var(--size-gutter);
  }

  .details {
    max-width: 64rem;
    padding: var(--space-3xl) var(--size-gutter) 0;
  }
}

@media (min-width: 1024px) {
  .image {
    width: 100%;
  }

  .details {
    left: var(--size-gutter);
    padding: var(--space-2xl) 0 0 var(--size-gutter)  ;
  }
}
