.hero{
    position: absolute;
    z-index: -1;
    color: white;
}
.image {
    position:absolute;
    width: 100vw;
    height: 120vh;
    top: 0px;

}
  
  
@media (min-width: 480px) {
    .details {
      padding: var(--space-3xl) var(--size-gutter) 0;
    }
  }
  
  @media (min-width: 768px) {
    .hero {
      padding-top: 0 0 var(--size-gutter);
    }
  
    .details {
      max-width: 64rem;
      padding: var(--space-3xl) var(--size-gutter) 0;
    }
  }
  
  @media (min-width: 1024px) {
    .image {
      width: 100vw;
    }
  
    .details {
      left: var(--size-gutter);
      padding: var(--space-2xl) 0 0 var(--size-gutter)  ;
    }
  }
  