.nav-box {
    display: flex;
    justify-content: wrap;
    align-items: center;
    margin:var(--size-gutter);
  }
  
  .list {
    display: flex;
    list-style: none;
    margin: var(--space-xl);
    gap: var(--space-xl);
  }
  
  .listItem{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    font-size:  var(--text-3xl);
    font-family: var(--font-sans);
  }
  .listItem:hover{
    font-family: var(--font-irregular);
    cursor: pointer;
  }
  .menu span{
    padding-left:var(--size-gutter);
    
  }

  .subtitle span{
    font-size: var(--text-xl);
    margin-bottom: var(--space-xl);
  }

  .dropdown-content{

    position: absolute;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
  }
  .listItem:hover .dropdown-content{
    display: block;
  }


  .listItem a {
    border-bottom: 1.5px solid transparent;
    color: currentColor;
    text-decoration: none;
  }
  
  .listItem a:hover {
    border-bottom-color: var(--primary);
    color: var(--primary);
  }
  