.content {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 10vw;
  padding: var(--space-2xl) var(--size-gutter);
}

.about {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: var(--space-3xl);
}

.break::after {
  content: '\A';
  white-space: pre;
}

.chat {
  font-family: var(--font-serif);
}

.senderright {
  text-align: right;
}

.messageright {
  background-color: blue;
  border-radius: 20px;
}
.messageleft {
  background-color: grey;
  border-radius: 20px;
}
